@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-midnight-950 text-slate-100 antialiased font-sans;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }
}

/* Custom scrollbars */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #0f0f13;
}

::-webkit-scrollbar-thumb {
  background: #272733;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3a3a4d;
}
